// fonts
$font_base: 'OpenSans', sans-serif;

// color
$text_color: #2f3234;
$grey_hover_color: #1f2122;
$accent_color: #e45028;
$accent_hover_color: #c1401e;

// size
$content_width: 960px;

// z-index
$z-navpage: 10;