.logo {
  display: inline-block;
  font-family: Bringin;
  font-size: 29px;
  color: $accent_color;
  text-transform: capitalize;
  transition: transform .15s ease;

  &__parts {
    color: #95a5ad;
  }

  &:hover {
    transform: scale(1.05);
  }
}