ul.card
  li.card__item(style="background: url(files/img/travel/carpathian.jpg) no-repeat center / cover")
    .card__body
      .card__stars
        ul.stars
          - for (var x = 0; x < 4; x++)
            li.stars__item
      .card__desc
        h4.card__title carpathian
        .card__text
          p Lorem ipsum dolor si amet, consectetur
    .card__footer
      .card__old-price 3150
      .card__new-price 793

  li.card__item(style="background: url(files/img/travel/alps.jpg) no-repeat center / cover")
    .card__body
      .card__stars
        ul.stars
          - for (var x = 0; x < 5; x++)
            li.stars__item
      .card__desc
        h4.card__title alps
        .card__text
          p Lorem ipsum dolor si amet, consectetur
    .card__footer
      .card__old-price 3150
      .card__new-price 1893

  li.card__item(style="background: url(files/img/travel/pyrenees.jpg) no-repeat center / cover")
    .card__body
      .card__stars
        ul.stars
          - for (var x = 0; x < 5; x++)
            li.stars__item
      .card__desc
        h4.card__title pyrenees
        .card__text
          p Lorem ipsum dolor si amet, consectetur
    .card__footer
      .card__old-price 3150
      .card__new-price 2593

  li.card__item(style="background: url(files/img/travel/rocky.jpg) no-repeat center / cover")
    .card__body
      .card__stars
        ul.stars
          - for (var x = 0; x < 5; x++)
            li.stars__item
      .card__desc
        h4.card__title rocky
        .card__text
          p Lorem ipsum dolor si amet, consectetur
    .card__footer
      .card__old-price 3150
      .card__new-price 2593

  li.card__item(style="background: url(files/img/travel/kavkaz.jpg) no-repeat center / cover")
    .card__body
      .card__stars
        ul.stars
          - for (var x = 0; x < 3; x++)
            li.stars__item
      .card__desc
        h4.card__title kavkaz
        .card__text
          p Lorem ipsum dolor si amet, consectetur
    .card__footer
      .card__old-price 3150
      .card__new-price 593