ul.comments
  li.comments__item
    .comments__text
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    .comments__user
      .comments__avatar(style='background-image:url("files/img/comments/Layer-27.jpg")')
      .comments__name Pavliv Yaroslav
      .comments__position Web designer

  li.comments__item
    .comments__text
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    .comments__user
      .comments__avatar(style='background-image:url("files/img/comments/Layer-28.jpg")')
      .comments__name John Scott
      .comments__position The Fringe