form.subscription
  .subscription__row
    input(type="text" name="name" placeholder="Name" required).subscription__input
  
  .subscription__row
    input(type="tel" name="phone" placeholder="Phone" required).subscription__input

  .subscription__row
    input(type="email" name="email" placeholder="E-mail" required).subscription__input

  .subscription__row
    button(type="submit").subscription__btn send