header.header
  .header__container.container
    .header__logo
      a.logo(href="#") moun
        span.logo__parts tains
    .header__nav
      include ./navigation.pug
    .header__button
      a.btn.btn--tel(href="tel:+79817773865") call us