ul.social
  li.social__item
    a(href="#").social__link.social__link--tw
      svg.social__icon
        use(xlink:href="files/img/sprite.svg#tw")
  li.social__item
    a(href="#").social__link.social__link--fb
      svg.social__icon
        use(xlink:href="files/img/sprite.svg#fb")
  li.social__item
    a(href="#").social__link.social__link--vk
      svg.social__icon
        use(xlink:href="files/img/sprite.svg#vk")