ul.tiles
  li.tiles__item.tiles__item--love
    .tiles__img(style='background-image:url(files/img/journal/Layer-501.jpg)')
    .tiles__subs
      .tiles__head love
      .tiles__title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      .tiles__text
        p You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.
      .tiles__number 01

  li.tiles__item.tiles__item--tree
    .tiles__img(style='background-image:url(files/img/journal/9127271170_42c133847e_z.jpg)')
    .tiles__subs
      .tiles__head tree
      .tiles__title Lorem ipsum dolor sit amet, #[span consectetur] adipisicing elit
      .tiles__text
        p The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.
      .tiles__number 02

  li.tiles__item.tiles__item--water
    .tiles__img(style='background-image:url(files/img/journal/Layer-49.jpg)')
    .tiles__subs
      .tiles__head water
      .tiles__title LITTLE PIECES OF OUR PROUDNESS
      .tiles__text
        p What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?
      .tiles__number 03