.welcome
  h1.welcome__head TRAVEL WITH US
      span to the Mountains
  .welcome__subs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid
  .welcome__btn
    a.btn.btn--default(href="#") order now